<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <section ng-view></section>
        <script type="text/javascript" src="/libs/angular/angular.js"></script>
        <script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/example/example.client.module.js"></script>
        <script type="text/javascript" src="/example/config/example.client.routes.js"></script>
        <script type="text/javascript" src="/users/users.client.module.js"></script>
        <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
        <script type="text/javascript" src="application.js"></script>
        <h1><%= title %></h1>
        <img src="img/logo.png" alt="Capillary logo">
        <% if ( user ) { %>
        <h2>Hello <%=user%> </h2>
        <a href="/logout">Logout</a>
        <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <% } %>
        <script type="text/javascript">
            window.user = < % - user || 'null' % > ;
        </script>
    </body>
</html>