<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <script type="text/javascript" src="/libs/angular/angular.js"></script>
        <h1><%= title %></h1>
        <img src="img/logo.png" alt="Capillary logo">
        <% if ( user ) { %>
        <h2>Hello <%=user%> </h2>
        <a href="/logout">Logout</a>
        <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <% } %>
    </body>
</html>